fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv

sqlalchemy
psycopg[binary]
alembic

python-jose[cryptography]
passlib[bcrypt]
python-multipart

langchain
langgraph
langchain-community
langchain-openai
langchain-ollama

pgvector
pypdf

httpx

pytest
pytest-asyncio

python-json-logger